extends layout

block content
	h1 #{title} - #{storeName} 
	p Here are the products you scraped: 

	h3 #{storeName} Flyer for #{startDate} to #{endDate} 

	.products_container
		//- p= products
		ul 
			each product in products
				li 
					h3 Product: #{product.ProductName}
					p Description : #{product.ProductDescription}
					p Price: #{product.Price}
					img(src=product.ImageUrl)
